In [2]:
#1. Print Summary of transaction data set
import pandas as pd
df=pd.read_csv("trans1.csv")
print(df.describe())

       TransactionID    UserID  ProductID   Quantity
count       10.00000  9.000000  10.000000  10.000000
mean         5.50000  3.444444   3.400000   2.400000
std          3.02765  2.127858   1.074968   1.712698
min          1.00000  1.000000   2.000000   1.000000
25%          3.25000  2.000000   2.250000   1.000000
50%          5.50000  3.000000   4.000000   2.000000
75%          7.75000  3.000000   4.000000   3.000000
max         10.00000  7.000000   5.000000   6.000000

In [2]:
#3. Print Numbers of recodrs
print("NUmber of Records:",len(df))

NUmber of Records: 10

In [3]:
#2. Print Numbers of Attributes
print("No of Attributes:",len(df.columns))

No of Attributes: 5

In [4]:
#4. Get the row names
print("Rows Names:",df.index.values)

Rows Names: [0 1 2 3 4 5 6 7 8 9]

In [5]:
#5. Get the column names
print("colums name",df.columns.values)

colums name ['TransactionID' 'TransactionDate' 'UserID' 'ProductID' 'Quantity']

In [6]:
#6. View top 10 Records
print("Top 10 Records",df.head(10))

Top 10 Records    TransactionID TransactionDate  UserID  ProductID  Quantity
0              1      2010-08-21     7.0          2         1
1              2      2011-05-26     3.0          4         1
2              3      2011-06-16     3.0          3         1
3              4      2012-08-26     1.0          2         3
4              5      2013-06-06     2.0          4         1
5              6      2013-12-23     2.0          5         6
6              7      2013-12-30     3.0          4         1
7              8      2014-04-24     NaN          2         3
8              9      2015-04-24     7.0          4         3
9             10      2016-05-08     3.0          4         4

In [9]:
print(df.iloc[ :,1])

0    2010-08-21
1    2011-05-26
2    2011-06-16
3    2012-08-26
4    2013-06-06
5    2013-12-23
6    2013-12-30
7    2014-04-24
8    2015-04-24
9    2016-05-08
Name: TransactionDate, dtype: object

In [14]:
#7.Change the name of column “ Quantity” to “Quant”
df.rename(columns={'Quantity': 'Quant'}, inplace=True)
print("With new ",df.columns.values)

With new  ['TransactionID' 'TransactionDate' 'UserID' 'ProductID' 'Quant']

In [16]:
#8.Change the name of columns ProductID and UserID
df.rename(columns={'ProductID':'PID','UserID':'UID'},inplace=True)
print("with new names",df.columns.values)

with new names ['TransactionID' 'TransactionDate' 'UID' 'PID' 'Quant']

In [21]:
#9. Order the rows of transactions by TransactionId
#descending, if ascending then ascending=True
df.sort_values('TransactionID',ascending=False,inplace=True)
print("order by transactionID",df)

order by transactionID    TransactionID TransactionDate  UID  PID  Quant
9             10      2016-05-08  3.0    4      4
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
6              7      2013-12-30  3.0    4      1
5              6      2013-12-23  2.0    5      6
4              5      2013-06-06  2.0    4      1
3              4      2012-08-26  1.0    2      3
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1

In [22]:
#10. Order the rows of transactions by Quantity ascending, TransactionDate descending
df.sort_values(['Quant','TransactionDate'],ascending=[True,False],inplace=True)
print(df)

   TransactionID TransactionDate  UID  PID  Quant
6              7      2013-12-30  3.0    4      1
4              5      2013-06-06  2.0    4      1
2              3      2011-06-16  3.0    3      1
1              2      2011-05-26  3.0    4      1
0              1      2010-08-21  7.0    2      1
8              9      2015-04-24  7.0    4      3
7              8      2014-04-24  NaN    2      3
3              4      2012-08-26  1.0    2      3
9             10      2016-05-08  3.0    4      4
5              6      2013-12-23  2.0    5      6

In [23]:
#11. Set the column order of Transactions as ProductID, Quantity, TransactionDate, TransactionID, UserID
df=df[['PID','Quant','TransactionDate','TransactionID','UID']]
print(df)

   PID  Quant TransactionDate  TransactionID  UID
6    4      1      2013-12-30              7  3.0
4    4      1      2013-06-06              5  2.0
2    3      1      2011-06-16              3  3.0
1    4      1      2011-05-26              2  3.0
0    2      1      2010-08-21              1  7.0
8    4      3      2015-04-24              9  7.0
7    2      3      2014-04-24              8  NaN
3    2      3      2012-08-26              4  1.0
9    4      4      2016-05-08             10  3.0
5    5      6      2013-12-23              6  2.0

In [24]:
#12. Make UserID the first column of transactions
df=df[['UID','PID','Quant','TransactionDate','TransactionID']]
print(df)

   UID  PID  Quant TransactionDate  TransactionID
6  3.0    4      1      2013-12-30              7
4  2.0    4      1      2013-06-06              5
2  3.0    3      1      2011-06-16              3
1  3.0    4      1      2011-05-26              2
0  7.0    2      1      2010-08-21              1
8  7.0    4      3      2015-04-24              9
7  NaN    2      3      2014-04-24              8
3  1.0    2      3      2012-08-26              4
9  3.0    4      4      2016-05-08             10
5  2.0    5      6      2013-12-23              6

In [25]:
#13. Extracting arrays from a Data Frame. Get the 2nd column
print("2nd column",df.iloc[:,1].values)

2nd column [4 4 3 4 2 4 2 2 4 5]

In [26]:
#14. Get the ProductID Array

print("product id Array",df['PID'].values)

product id Array [4 4 3 4 2 4 2 2 4 5]

In [28]:
print("transaction data array is",df['TransactionDate'].values)

transaction data array is ['2013-12-30' '2013-06-06' '2011-06-16' '2011-05-26' '2010-08-21'
 '2015-04-24' '2014-04-24' '2012-08-26' '2016-05-08' '2013-12-23']

In [29]:
#15. Get the ProductID Array using the following varaibel
print("product id array",df.PID.values)

product id array [4 4 3 4 2 4 2 2 4 5]

In [32]:
#16.Row subsetting, subset rows 1,3 and 6
print(df.iloc[[1,3,6]])

   UID  PID  Quant TransactionDate  TransactionID
4  2.0    4      1      2013-06-06              5
1  3.0    4      1      2011-05-26              2
7  NaN    2      3      2014-04-24              8

In [33]:

#17. subset rows excluding 1,3 and 6
print(df.drop([1,3,6]))

   UID  PID  Quant TransactionDate  TransactionID
4  2.0    4      1      2013-06-06              5
2  3.0    3      1      2011-06-16              3
0  7.0    2      1      2010-08-21              1
8  7.0    4      3      2015-04-24              9
7  NaN    2      3      2014-04-24              8
9  3.0    4      4      2016-05-08             10
5  2.0    5      6      2013-12-23              6

In [36]:
#18. Subset the first three rows
print(df.head(3))

   UID  PID  Quant TransactionDate  TransactionID
6  3.0    4      1      2013-12-30              7
4  2.0    4      1      2013-06-06              5
2  3.0    3      1      2011-06-16              3

In [37]:
#19. Subset the last 2 rows
print(df.tail(2))

   UID  PID  Quant TransactionDate  TransactionID
9  3.0    4      4      2016-05-08             10
5  2.0    5      6      2013-12-23              6

In [42]:
#20. Subset rows excluding the last 2 rows
print(df.head(-2))

   UID  PID  Quant TransactionDate  TransactionID
6  3.0    4      1      2013-12-30              7
4  2.0    4      1      2013-06-06              5
2  3.0    3      1      2011-06-16              3
1  3.0    4      1      2011-05-26              2
0  7.0    2      1      2010-08-21              1
8  7.0    4      3      2015-04-24              9
7  NaN    2      3      2014-04-24              8
3  1.0    2      3      2012-08-26              4

In [41]:
#21. Subset rows excluding the first 3 rows
print(df.iloc[3:])

   UID  PID  Quant TransactionDate  TransactionID
1  3.0    4      1      2011-05-26              2
0  7.0    2      1      2010-08-21              1
8  7.0    4      3      2015-04-24              9
7  NaN    2      3      2014-04-24              8
3  1.0    2      3      2012-08-26              4
9  3.0    4      4      2016-05-08             10
5  2.0    5      6      2013-12-23              6

In [43]:
#23. Subset rows where UserID=2
print(df[df.UID==2])

   UID  PID  Quant TransactionDate  TransactionID
4  2.0    4      1      2013-06-06              5
5  2.0    5      6      2013-12-23              6

In [44]:
#24. Subset rows where Quantity>1 and UserID=2
print(df[(df.Quant>1) & (df.UID==2)])

   UID  PID  Quant TransactionDate  TransactionID
5  2.0    5      6      2013-12-23              6

In [47]:
#25. Subset rows where Quantity + UserID is >3

print(df[(df.Quant+df.UID)>3])

   UID  PID  Quant TransactionDate  TransactionID
6  3.0    4      1      2013-12-30              7
2  3.0    3      1      2011-06-16              3
1  3.0    4      1      2011-05-26              2
0  7.0    2      1      2010-08-21              1
8  7.0    4      3      2015-04-24              9
3  1.0    2      3      2012-08-26              4
9  3.0    4      4      2016-05-08             10
5  2.0    5      6      2013-12-23              6

In [51]:
#26. Subset rows where an external array, foo, is True
foo=[True,False,True,False,True,False,True,False,True,False]
print(df[foo])

   UID  PID  Quant TransactionDate  TransactionID
6  3.0    4      1      2013-12-30              7
2  3.0    3      1      2011-06-16              3
0  7.0    2      1      2010-08-21              1
7  NaN    2      3      2014-04-24              8
9  3.0    4      4      2016-05-08             10

In [1]:
#27. Subset rows where an external array, bar, is positive
bar=[1,-1,2,-2,3,-3,4,-4,5,-5]
#print(df[bar>0])
print(bar)

[1, -1, 2, -2, 3, -3, 4, -4, 5, -5]

In [11]:
#28. Subset rows where foo is TRUE or bar is negative
import pandas as pd
df=pd.read_csv('trans1.csv')
print(df[(df['foo'] == True) | (df['bar'] < 0)])

KeyError: 'foo'

In [12]:
#28. Subset rows where foo is TRUE or bar is negative
print(df[foo | (bar<0)])

NameError: name 'foo' is not defined

In [16]:

#30 Subset by columns 1 and 3
sub=df.iloc[:,[0,2]]
print(sub)

   TransactionID  UserID
0              1     7.0
1              2     3.0
2              3     3.0
3              4     1.0
4              5     2.0
5              6     2.0
6              7     3.0
7              8     NaN
8              9     7.0
9             10     3.0

In [17]:
#31. Subset by columns TransactionID and TransactionDate
sub_trans=df[['TransactionID','TransactionDate']]
print(sub_trans)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [19]:
#32. Subset by columns TransactionID and TransactionDate with logical operator
# Use a logical operator to filter rows and select columns
subset_logical = df[df['TransactionID'] > 1000][['TransactionID', 'TransactionDate']]
print(subset_logical)

Empty DataFrame
Columns: [TransactionID, TransactionDate]
Index: []

In [20]:
# Variable list of column names
columns_to_select = ['TransactionID', 'TransactionDate']
subset_variable = df[columns_to_select]
print(subset_variable)

   TransactionID TransactionDate
0              1      2010-08-21
1              2      2011-05-26
2              3      2011-06-16
3              4      2012-08-26
4              5      2013-06-06
5              6      2013-12-23
6              7      2013-12-30
7              8      2014-04-24
8              9      2015-04-24
9             10      2016-05-08

In [21]:
# Variable list of column names to exclude
columns_to_exclude = ['TransactionID', 'TransactionDate']

# Subset excluding specified columns
subset_exclude = df.drop(columns=columns_to_exclude)
print(subset_exclude)

   UserID  ProductID  Quantity
0     7.0          2         1
1     3.0          4         1
2     3.0          3         1
3     1.0          2         3
4     2.0          4         1
5     2.0          5         6
6     3.0          4         1
7     NaN          2         3
8     7.0          4         3
9     3.0          4         4

In [23]:
#35. Inserting and updating values
df['Foo']='Default value 1'
print(df)

   TransactionID TransactionDate  UserID  ProductID  Quantity              Foo
0              1      2010-08-21     7.0          2         1  Default value 1
1              2      2011-05-26     3.0          4         1  Default value 1
2              3      2011-06-16     3.0          3         1  Default value 1
3              4      2012-08-26     1.0          2         3  Default value 1
4              5      2013-06-06     2.0          4         1  Default value 1
5              6      2013-12-23     2.0          5         6  Default value 1
6              7      2013-12-30     3.0          4         1  Default value 1
7              8      2014-04-24     NaN          2         3  Default value 1
8              9      2015-04-24     7.0          4         3  Default value 1
9             10      2016-05-08     3.0          4         4  Default value 1

In [24]:
df['TransactionDate']=pd.to_datetime(df['TransactionDate'])
print(df.dtypes)
print(df['TransactionDate'].head())

TransactionID               int64
TransactionDate    datetime64[ns]
UserID                    float64
ProductID                   int64
Quantity                    int64
Foo                        object
dtype: object
0   2010-08-21
1   2011-05-26
2   2011-06-16
3   2012-08-26
4   2013-06-06
Name: TransactionDate, dtype: datetime64[ns]

In [26]:
import pandas as pd

# Load the CSV file
df['Foo'] = df['UserID'].astype(str) + df['ProductID'].astype(str)
print(df.head())

   TransactionID TransactionDate  UserID  ProductID  Quantity   Foo
0              1      2010-08-21     7.0          2         1  7.02
1              2      2011-05-26     3.0          4         1  3.04
2              3      2011-06-16     3.0          3         1  3.03
3              4      2012-08-26     1.0          2         3  1.02
4              5      2013-06-06     2.0          4         1  2.04