In [1]:
import pandas as pd
df=pd.read_csv('Data.csv')
print(df)
print(df.describe())

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes
             Age        Salary
count   9.000000      9.000000
mean   38.777778  63777.777778
std     7.693793  12265.579662
min    27.000000  48000.000000
25%    35.000000  54000.000000
50%    38.000000  61000.000000
75%    44.000000  72000.000000
max    50.000000  83000.000000

In [28]:
m1=df['Country']=='Spain'
m2=df['Purchased']=='Yes'
df[m1 & m2]
#df[m1 & m2].shape[0]

  Country   Age   Salary Purchased
1   Spain  27.0  48000.0       Yes

In [3]:
df['Country']

0     France
1      Spain
2    Germany
3      Spain
4    Germany
5     France
6      Spain
7     France
8    Germany
9     France
Name: Country, dtype: object

In [5]:
type(df['Country'])

pandas.core.series.Series

In [7]:
mask=df['Country']=='Spain'
df[mask].shape[0]

3

In [21]:
def get_city_count(country):
    mask=df['Country']==country
    return df[mask].shape[0]

In [22]:
get_city_count('Germany')

3

In [ ]:
m1=df['Country']=='Germany'
m2=df[]